@font-face {
  font-display: swap;
  font-family: "Computer Modern";
  font-size: normal;
  src: url("../fonts/cmunrm.woff");
}

@font-face {
  font-display: swap;
  font-family: "Computer Modern";
  font-style: italic;
  src: url("../fonts/cmunti-webfont.woff");
}

@font-face {
  font-display: swap;
  font-family: "Computer Modern";
  font-style: bold;
  font-weight: 500;
  src: url("../fonts/cmunbx-webfont.woff");
}
